<footer class="bg-info text-dark">
  <div class="container">
    <div class="row py-3 border-bottom">
      <div class="col d-flex justify-content-between">
        <span class="text-dark">© SQUARE ENIX</span> <!-- 追加されたテキスト -->
        <div>
          <%= link_to '利用規約', "https://kiyac.app/termsOfService/H4QwSwT7QFHxkJdoPaNA", class: 'ms-auto text-dark me-3' %> <!-- 左側のマージンを自動的に最大にする -->
          <%= link_to 'プライバシーボリシー', "https://kiyac.app/privacypolicy/RMeCH0KILayx8qzfwu1u", class: 'text-dark me-3' %>
          <%= link_to 'お問い合わせ', 'https://forms.gle/KKitrR5ToM7JDz5X9', class: 'text-dark' %> <!-- 最後のリンクにはマージンを適用しない -->
        </div>
      </div>
    </div>
  </div>
</footer>
