<footer class="bg-info text-dark">
  <div class="container">
    <div class="row py-3 border-bottom">
      <div class="col d-flex justify-content-end">
        <%= link_to '利用規約', '#', class: 'ms-auto text-dark me-3' %> <!-- 左側のマージンを自動的に最大にする -->
        <%= link_to 'プライバシーボリシー', '#', class: 'text-dark me-3' %>
        <%= link_to 'お問い合わせ', 'https://forms.gle/KKitrR5ToM7JDz5X9', class: 'text-dark' %> <!-- 最後のリンクにはマージンを適用しない -->
      </div>
    </div>
  </div>
</footer>
