<header class="bg-info text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between py-3">
      <%= link_to '管理者画面', admin_root_path, class: 'd-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none fs-4 fst-italic' %>
    </div>
  </div>
</header>